body {
    background-color: #ff81c1;
    color: #9c5b01;
    font-size: 20px;
    font-family: 'Homer Simpson Revised', sans-serif;;
}

#header-nav {
    background-color: #2f64d6;
    border-radius: 0;
    border: 0;
    position: relative;
}
#logo-img {
    background: url("../Pictures/imgbin_homer-simpson-drooling-donuts-food-png.png") no-repeat center;
    background-size: contain;
    height: 100px;
    width: 100px;
    margin: 10px 15px 10px 0px;
}
.navbar-brand h1{
    color: #f8db27;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 1px 2px 3px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
    position: absolute;
    top: 50px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 1px 2px 3px #222;
    color: #ffff
    ;
}
section {
    height: 1000px;
}
.menu-content {
    width: 100%;
    height: auto;
    background-color: #9c5b01;
    color: #fff;
    border-radius: 1.5em;
    text-align: center;
    border: 3px solid #2f64d6;
    margin-bottom: 35px;
}
.menu-content .menu-item-title {
    border-bottom: 3px solid #2f64d6;
    font-size: 1.8em;   
    padding-bottom: 10px; 
}
.menu-content .menu-item-title:hover {
    text-transform: uppercase;
    text-shadow: 1px 2px 3px #222;
    font-size: 1.5em;
}
.menu-content .menu-item-content {
    margin: 20px 40px 20px 40px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #9c5b01;
  background-color: #2f64d6;
}
.navbar-header button.navbar-toggle {
clear: both;
margin-top: -30px;
}
.navbar-header button.navbar-toggle .icon-bar {
    background-color: #9c5b01;
}
#nav-list {
    margin-top: 10px;
}
#nav-list a {
    color: #951C49;
    text-align: center;
}
#nav-list a:hover {
    background: #E7E7E7;
}
#nav-list a span {
    font-size: 1.8em;
}
.btn {
    position: absolute;
    right: 20px;
    top: 30px;
    width: auto;
    height: auto;
    font-size: 1em;
    border-radius: 2em;
}
#menu-buttom {
    font-size: 1em;
    border: 2px solid #fff;
    color: #fff;
    width: 100%;
    background-color: #9c5b01;
    margin-top: 10px;
    text-align: center;
}

a {
    color: #ff81c1;
    font-size: 1.5em;
    text-transform: lowercase;
}
#menu-buttom ul {
    list-style-type: none;
}

.collapse a:hover, .collapse a:focus {
    text-decoration: none;
    text-shadow: 1px 2px 3px #222;
    color: #fff;
    text-transform: uppercase;
}

#go-back a:hover, #go-back a:focus {
    text-decoration: none;
    text-shadow: 1px 2px 3px #222;
    color: #fff;
    text-transform: uppercase;
}
#go-back a {
    color: #fff;
}

/*** Media Querys ***/

@media (max-width: 767px) {
    .navbar-header {
        height: 100px;
    }
    .navbar-brand h1{
        font-size: 1.8em;
        margin-left: 25px;
    }
}